mixin program(number, title, text, className)
  .program__block(class=className)
    .program__block__header
      .program__block__header__number= number
      h3 Занятие: 
        span= title
    .program__block__content
      .row.middle-xs
        .col-sm-6.col-xs-12
          p= text
          h4 Продолжительность:  
            span От 35-90 мин. + домашние задание
        .col-sm-6.col-xs-12.first-xs.last-sm
          .program__block__content__image
            img.lazy(data-src=`img/course/program-2/${number}.jpg`, alt="")

mixin programm(number, title, text, className)
  .program__block.program__block__m(class=className)
    .program__block__header
      .program__block__header__number= number
      h3 Занятие: 
        span= title
    .program__block__content
      .row.middle-xs
        .col-sm-6.col-xs-12
          p= text
          h4 Продолжительность:  
            span От 35-90 мин. + домашние задание
        .col-sm-6.col-xs-12.first-xs.last-sm
          .program__block__content__image
            img.lazy(data-src=`img/course/program-2/${number}.jpg`, alt="")

section.program
  .container
    .row
      .col-xs-12.center-xs
        h2 Программа
          span обучения
        p.hidden-xs Программа курса включает в себя 8 занятий, на которых ты научишься<br> создавать уникальных и неповторимых героев.
      .col-sm-1.hidden-xs
        .scroll.scroll--program
          span Программа курса
      .col-xs-12.hidden-sm
        +programm('1', 'Общее понятие о пропорциях фигуры человека.', 'Первое занятие начнем со знакомства с основные пропорциями человека, изучим важные особенности мужской и женской фигур. Рассмотрим различные типы фигур и, упростив их до понятных и простых форм, начнем наш путь в создании персонажей. ', 'first')
        +programm('2', 'Динамичные и статичные позы.', 'На втором занятии зарисуем несколько различных поз человека и изучим динамику движения человеческого тела. Ты узнаешь, как линия движения помогает создать персонажа в статике и динамике.')
        +programm('3', 'Основные пропорции головы человека.', 'На третьем занятии рассмотрим основные пропорции лица и зарисуем различные ракурсы головы. Основываясь на изученных пропорциях, разберем и зарисуем разные типы лица. ')
        +programm('4', 'Эмоции.', 'В этом уроке разберем палитру эмоций персонажей. На основе полученных знаний из этого занятия и предыдущих, нарисуем разные лица и характеры. ')
        .program__hidden
          +programm('5', 'Разработка персонажа в разных стилистиках.', 'На пятом занятии мы нарисуем персонажей в разных мультяшных стилях, чтобы разобраться, как при помощи стилистических особенностей можно играть с образом. ')
          +programm('6', 'Линейка персонажей.', 'На этом занятии мы разработаем линейку персонажей, посмотрим как возраст, пол, национальность и другие факторы влияют на характер героя. ')
          +programm('7', 'Работа над одеждой и аксессуарами.', 'На седьмом занятии перейдем к более детальной разработке персонажей. На основе героев сериала, нарисуем персонажей в определенной эпохе. Разберемся, как среда, классовая принадлежность и профессия влияют на образ и личность героя. ')
          +programm('8', 'Персонаж в среде.', 'Окружение персонажа важно при его разработке. На финальном занятии курса мы создадим персонажа в контектсте его среды. Нарисуем полноценную иллюстрацию в цвете.')
        a.program__loadmore показать все
        a(href="#").btn.btn--buy купить
      .col-sm-10.hidden-xs
        +program('1', 'Общее понятие о пропорциях фигуры человека.', 'Первое занятие начнем со знакомства с основные пропорциями человека, изучим важные особенности мужской и женской фигур. Рассмотрим различные типы фигур и, упростив их до понятных и простых форм, начнем наш путь в создании персонажей. ', 'first')
        +program('2', 'Динамичные и статичные позы.', 'На втором занятии зарисуем несколько различных поз человека и изучим динамику движения человеческого тела. Ты узнаешь, как линия движения помогает создать персонажа в статике и динамике.')
        +program('3', 'Изучение основных пропорций головы человека и разных ракурсов.', 'На третьем занятии рассмотрим основные пропорции лица и зарисуем различные ракурсы головы. Основываясь на изученных пропорциях, разберем и зарисуем разные типы лица. ')
        +program('4', 'Эмоции.', 'В этом уроке разберем палитру эмоций персонажей. На основе полученных знаний из этого занятия и предыдущих, нарисуем разные лица и характеры. ')
        +program('5', 'Разработка персонажа в разных стилистиках.', 'На пятом занятии мы нарисуем персонажей в разных мультяшных стилях, чтобы разобраться, как при помощи стилистических особенностей можно играть с образом. ')
        +program('6', 'Линейка персонажей.', 'На этом занятии мы разработаем линейку персонажей, посмотрим как возраст, пол, национальность и другие факторы влияют на характер героя. ')
        +program('7', 'Работа над одеждой и аксессуарами.', 'На седьмом занятии перейдем к более детальной разработке персонажей. На основе героев сериала, нарисуем персонажей в определенной эпохе. Разберемся, как среда, классовая принадлежность и профессия влияют на образ и личность героя. ')
        +program('8', 'Персонаж в среде.', 'Окружение персонажа важно при его разработке. На финальном занятии курса мы создадим персонажа в контектсте его среды. Нарисуем полноценную иллюстрацию в цвете.')
        .flex.center-xs
          a(href="#price").btn.btn--program Купить доступ к курсу
            .key
              i.icon.icon-key
      .col-sm-1
