mixin program(number, title, text, className)
  .program__block(class=className)
    .program__block__header
      .program__block__header__number= number
      h3 Занятие: 
        span= title
    .program__block__content
      .row.middle-xs
        .col-sm-6.col-xs-12
          p= text
          h4 Продолжительность:  
            span От 35-90 мин. + домашние задание
        .col-sm-6.col-xs-12.first-xs.last-sm
          .program__block__content__image
            img.lazy(data-src=`img/course/program/${number}.jpg`, alt="")

mixin programm(number, title, text, className)
  .program__block.program__block__m(class=className)
    .program__block__header
      .program__block__header__number= number
      h3 Занятие: 
        span= title
    .program__block__content
      .row.middle-xs
        .col-sm-6.col-xs-12
          p= text
          h4 Продолжительность:  
            span От 35-90 мин. + домашние задание
        .col-sm-6.col-xs-12.first-xs.last-sm
          .program__block__content__image
            img.lazy(data-src=`img/course/program/${number}.jpg`, alt="")

section.program
  .container
    .row
      .col-xs-12.center-xs
        h2 Программа
          span обучения
        p.hidden-xs Программа курса включает в себя 8 занятий, на каждом из которых <br>мы будем выполнять новую архитектурную зарисовку
      .col-sm-1.hidden-xs
        .scroll.scroll--program
          span Программа курса
      .col-xs-12.hidden-sm
        +programm('1', 'Карандашная техника', 'На первом занятии мы познакомимся с законами перспективы и, на примере построения кубов, научимся их применять. Далее сделаем линейное построение здания во фронтальной перспективе и узнаем как правильно пользоваться карандашным штрихом.', 'first')
        +programm('2', 'Выполнение работы гелевой ручкой', 'На этом занятии сделаем зарисовку уже более сложного архитектурного здания, научимся изображать угловую перспективу и выполним штриховку гелевой ручкой.')
        +programm('3', 'Работа с цветными карандашами (1-3)', 'Используя технику и знания предыдущего урока,  создадим архитектурную композицию в край листа и научимся делать акцент в изображении с помощью цветных карандашей.')
        +programm('4', 'Рисунок линером с использованием акварели', 'На этом занятии  выполним построение и проработку архитектурного здания, после чего познакомимся с акварелью и научимся создавать легкие переливы в цвете.')
        .program__hidden
          +programm('5', 'Техника "сухая кисть" (черная гуашь)', 'В этом уроке освоим еще одну новую технику, научимся применять кисть с краской в качестве основного инструмента для рисования и познакомимся с приемами, которые помогут сделать изображение  контрастным и живым.')
          +programm('6', 'Акварельная техника', 'На этом занятии мы более подробно познакомимся с акварелью и ее свойствами, научимся смешивать цвета и создадим многоцветное изображение.')
          +programm('7', 'Быстрый скетч линером без построения', 'В этом уроке нам предстоит отбросить в сторону простые карандаши и сделать зарисовку линером без предварительной разметки и построения. Умение выполнять быстрый рисунок "на глаз" - это и есть основной смысл архитектурного скетчинга.')
          +programm('8', 'Завершающая работа курса', 'На последнем занятии выполним выпускную работу с помощью сухой кисти и познакомимся с еще одним интересным инструментом для рисования, как мастихин.')
        a.program__loadmore показать все
        a(href="#").btn.btn--buy купить
      .col-sm-10.hidden-xs
        +program('1', 'Карандашная техника', 'На первом занятии мы познакомимся с законами перспективы и, на примере построения кубов, научимся их применять. Далее сделаем линейное построение здания во фронтальной перспективе и узнаем как правильно пользоваться карандашным штрихом.', 'first')
        +program('2', 'Выполнение работы гелевой ручкой', 'На этом занятии сделаем зарисовку уже более сложного архитектурного здания, научимся изображать угловую перспективу и выполним штриховку гелевой ручкой.')
        +program('3', 'Работа с цветными карандашами (введение 1-3 цветов)', 'Используя технику и знания предыдущего урока,  создадим архитектурную композицию в край листа и научимся делать акцент в изображении с помощью цветных карандашей.')
        +program('4', 'Рисунок линером с использованием акварели (1 цвет)', 'На этом занятии  выполним построение и проработку архитектурного здания, после чего познакомимся с акварелью и научимся создавать легкие переливы в цвете.')
        +program('5', 'Техника "сухая кисть" (черная гуашь)', 'В этом уроке освоим еще одну новую технику, научимся применять кисть с краской в качестве основного инструмента для рисования и познакомимся с приемами, которые помогут сделать изображение  контрастным и живым.')
        +program('6', 'Акварельная техника', 'На этом занятии мы более подробно познакомимся с акварелью и ее свойствами, научимся смешивать цвета и создадим многоцветное изображение.')
        +program('7', 'Быстрый скетч линером без построения (1 цвет -карандаш или гуашь)', 'В этом уроке нам предстоит отбросить в сторону простые карандаши и сделать зарисовку линером без предварительной разметки и построения. Умение выполнять быстрый рисунок "на глаз" - это и есть основной смысл архитектурного скетчинга.')
        +program('8', 'Быстрая зарисовка на цветной бумаге с использованием красок и мастихина', 'На последнем занятии выполним выпускную работу с помощью сухой кисти и познакомимся с еще одним интересным инструментом для рисования, как мастихин.')
        .flex.center-xs
          a(href="#price").btn.btn--program Купить доступ к курсу
            .key
              i.icon.icon-key
      .col-sm-1
